version: "3"
services:
  naming-server:
    image: naming-server:0.0.1-SNAPSHOT
    ports:
      - 8761:8761
    restart: on-failure
    healthcheck:
      test: "exit 0"

  spring-cloud-gateway:
    image: spring-cloud-gateway:0.0.1-SNAPSHOT
    ports:
      - 8765:8765
    restart: on-failure
    healthcheck:
      test: "exit 0"
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      authentication-service:
        condition: service_healthy
      horizons-service:
        condition: service_healthy
      students-connect-service:
        condition: service_healthy
      support-service:
        condition: service_healthy

  config-server:
    image: config-server:0.0.1-SNAPSHOT
    ports:
      - 8763:8763
    depends_on:
      naming-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"

  authentication-service:
    image: authentication-service:0.0.1-SNAPSHOT
    ports:
      - 8081:8081
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
    restart: on-failure

  horizons-service:
    image: horizons-service:0.0.1-SNAPSHOT
    ports:
      - 8082:8082
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
    restart: on-failure

  students-connect-service:
    image: students-connect-service:0.0.1-SNAPSHOT
    ports:
      - 8083:8083
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
    restart: on-failure

  support-service:
    image: support-service:0.0.1-SNAPSHOT
    ports:
      - 8084:8084
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
    restart: on-failure
