version: "3"
services:
  naming-server:
    image: naming-server:0.0.1-SNAPSHOT
    ports:
      - 8761:8761

  spring-cloud-gateway:
    image: spring-cloud-gateway:0.0.1-SNAPSHOT
    ports:
      - 8765:8765
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      authentication-service:
        condition: service_healthy
      horizons-service:
        condition: service_healthy
      students-connect-service:
        condition: service_healthy
      support-service:
        condition: service_healthy

  config-server:
    image: config-server:0.0.1-SNAPSHOT
    ports:
      - 8763:8763
  authentication-service:
    image: authentication-service:0.0.1-SNAPSHOT
    ports:
      - 8081:8081

  horizons-service:
    image: horizons-service:0.0.1-SNAPSHOT
    ports:
      - 8082:8082

  students-connect-service:
    image: students-connect-service:0.0.1-SNAPSHOT
    ports:
      - 8083:8083

  support-service:
    image: support-service:0.0.1-SNAPSHOT
    ports:
      - 8084:8084
