version: "3.7"
services:
  naming-server:
    image: imshubhampatel/naming-server:0.0.1-SNAPSHOT
    ports:
      - 8761:8761
    restart: on-failure
    healthcheck:
      test: "exit 0"

  spring-cloud-gateway:
    image: imshubhampatel/spring-cloud-gateway:0.0.1-SNAPSHOT
    ports:
      - 8765:8765
    environment:
      - eureka.client.service-url.defaultZone=http://imshubhampatel/naming-server:8761/eureka
    restart: on-failure
    healthcheck:
      test: "exit 0"
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      authentication-service:
        condition: service_healthy
      horizons-service:
        condition: service_healthy
      students-connect-service:
        condition: service_healthy
      support-service:
        condition: service_healthy

  config-server:
    image: imshubhampatel/config-server:0.0.1-SNAPSHOT
    ports:
      - 8763:8763
    environment:
      - eureka.client.service-url.defaultZone=http://imshubhampatel/naming-server:8761/eureka
    depends_on:
      naming-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"

  authentication-service:
    image: imshubhampatel/authentication-service:0.0.1-SNAPSHOT
    ports:
      - 8081:8081
    environment:
      - eureka.client.service-url.defaultZone=http://imshubhampatel/naming-server:8761/eureka
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
    restart: on-failure

  horizons-service:
    image: imshubhampatel/horizons-service:0.0.1-SNAPSHOT
    ports:
      - 8082:8082
    environment:
      - eureka.client.service-url.defaultZone=http://imshubhampatel/naming-server:8761/eureka
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
    restart: on-failure

  students-connect-service:
    image: imshubhampatel/students-connect-service:0.0.1-SNAPSHOT
    ports:
      - 8083:8083
    environment:
      - eureka.client.service-url.defaultZone=http://imshubhampatel/naming-server:8761/eureka
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
    restart: on-failure

  support-service:
    image: imshubhampatel/support-service:0.0.1-SNAPSHOT
    ports:
      - 8084:8084
    environment:
      - eureka.client.service-url.defaultZone=http://imshubhampatel/naming-server:8761/eureka
    depends_on:
      naming-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
    restart: on-failure
