server:
  port: 8081

spring:
  profiles:
    active: dev

  config:
    import: optional:configserver:http://localhost:8763

  application:
    name: AUTHENTICATION-SERVICE
# eureka:
#   instance:
#     prefer-ip-address: true
#   client:
#     fetch-registry: true
#     register-with-eureka: true
#     service-url:
#       defaultZone: http://localhost:8761/eureka
