server:
  port: 8761

spring:
  application:
    name: "NAMING-SERVER"

  profiles:
    active: default

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
