server:
  port: 8086

spring:
  application:
    name: SUPPORT-SERVICE
  config:
    import: optional:configserver:http://localhost:8087

# eureka:
#   instance:
#     prefer-ip-address: true
#   client:
#     fetch-registry: true
#     register-with-eureka: true
#     service-url:
#       defaultZone: http://localhost:8761/eureka
