server:
  port: 8763

spring:
  application:
    name: CONFIG-SERVER

  profiles:
    active: dev

  cloud:
    config:
      server:
        git:
          uri: https://github.com/imshubhampatel/management-configurations
          clone-on-start: true
# eureka:
#   instance:
#     prefer-ip-address: true
#   client:
#     fetch-registry: true
#     register-with-eureka: true
#     service-url:
#       defaultZone: http://localhost:8761/eureka
