server:
  port: 8763

spring:
  application:
    name: CONFIG-SERVER

  profiles:
    active: default

  cloud:
    config:
      server:
        git:
          uri: https://github.com/imshubhampatel/management-configurations
          clone-on-start: true
